{% extends 'base.html.twig' %}

{% block title %}Création compte utilisateur{% endblock %}

{% block body %}
    <h1>Création compte utilisateur</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.userName) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
