{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle annonce{% endblock %}

{% block body %}
    <h1>Créer une nouvelle annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('annonces_index') }}">Retour à la liste</a>
{% endblock %}
