<a href="www.broc.com" style="color:black;text-decoration-none;font-size: 24px">
    <img src="{{ img }}" width="30" height="30" style="color:white"/>
    <strong>Broc</strong>
</a>
<h1>Broc : vous avez un nouveau message</h1>

<p><strong>{{ messageTitre }} concernant l'annonce : {{ messageAnnonce }}</strong><br>
<p>{{ messageTexte }}</p>

<br>
Connectez vous pour lui répondre : <a href="www.broc.com" class="display:inline">broc</a></p>